<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.92771996377-oe5b1ujlbib4m3i4ss1q4mflqndacl26</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.example.myapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myappurl</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BasicSans-Black.otf</string>
		<string>BasicSans-Regular.otf</string>
		<string>Barlow-LightItalic.ttf</string>
		<string>Barlow-Bold.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-SemiBoldItalic.ttf</string>
		<string>Bilbo-Regular.ttf</string>
		<string>Barlow-Italic.ttf</string>
		<string>HechoAMano-Regular.ttf</string>
		<string>Barlow-Black.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
